
# Update the Batch and Storage account credential strings below with the values
# unique to your accounts. These are used when constructing connection strings
# for the Batch and Storage client objects.

[client]
BATCH_ACCOUNT_NAME = chiba1ba
BATCH_ACCOUNT_KEY = 
BATCH_ACCOUNT_URL = https://chiba1ba.japaneast.batch.azure.com
STORAGE_ACCOUNT_NAME = chiba1sa
STORAGE_ACCOUNT_KEY = 

[batch]
POOL_ID = PTP16
POOL_NODE_COUNT = 2
POOL_VM_SIZE = BASIC_A2
NODE_OS_PUBLISHER = Canonical
NODE_OS_OFFER = UbuntuServer
NODE_OS_SKU = 16
JOB_ID = PTJ16
TIME_OUT = 120

[ref]
REF_CONTAINER_NAME = ref
REF_FILE_PATH = hg19/chr22.fa,hg19/chr22.fa.amb,hg19/chr22.fa.ann,hg19/chr22.fa.bwt,hg19/chr22.fa.pac,hg19/chr22.fa.sa



